/* Color Variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../assets/fonts/Gilroy-ExtraBold.otf');
}

:root {
 --color-light-blue: #3EBCF1;
 --color-dark-blue: #0D074E;
 --color-pale-white: #FFFDFB;
 --color-orange: #FF8900;
 --color-pink: #EF4AFF;
 --color-black: #000000;
 --color-white: #ffffff;
}

h1, h2, h3, h4 {
  font-family: 'Gilroy Bold';
}

h3 {
  color: var(--color-orange);
  font-size: 26px;
}

h4 {
  color: var(--color-dark-blue);
  font-size: 20px;
}

p, span, a {
  font-family: 'Roboto';
}